
@font-face {
  font-family: 'bettynoir';
  src: url(/assets/fonts/bettynoir.woff) format('woff'),
       url(/assets/fonts/bettynoir.woff2) format('woff2');
}
@font-face {
  font-family: 'Bocklin';
  src: url(/assets/fonts/Bocklin.woff) format('woff'),
       url(/assets/fonts/Bocklin.woff2) format('woff2');
}
@font-face {
  font-family: 'RivannaNf';
  src: url(/assets/fonts/RivannaNf-7Yp4.woff) format('woff'),
       url(/assets/fonts/RivannaNf-7Yp4.woff2) format('woff2');
}


:root{
	/* fonts */
	--txt-fnt-1:'bettynoir', sans-serif;
	--txt-fnt-3:'Bocklin', sans-serif;
  --logo-fnt:'RivannaNf', sans-serif;
  /* colors */
  --clr-1:#879C7D;
  --clr-2:#C7C285;
  --clr-3:#F0C261;
  --clr-4:#F6D499;
  --clr-5:#9D2A3B;

}

body{
  background-color: var(--clr-4);
}
.logo{
  font-family: var(--logo-fnt);
  font-size: 3rem;
}